h1{
    display: block;
    width: 55vw;
    margin: 0px auto 20px auto;
    padding: 0px;
}
.linkContainer{
    margin-left: 22.5vw;
    display: block;
    margin-top: 50px;
    background-color: #9CAEA9;
    width: fit-content;
    padding: 30px;
}
@media screen and (max-width: 600px){
    section{
        margin-top: 150px;
    }
    h1{
        margin: 1em;
    }
    p{
        font-size: 13px !important;
        width: 80vw !important;
    }
    .linkContainer{
        margin-left: auto;
        margin-right: auto;
    }
}