h2 {
    font-size: 22px;
}

.card {
    position: relative;
    padding: 55px 20px 15px 20px;
    width: calc(80vw - 40px);
    margin: 4em auto;
    background-color: #CCDAD1;
    height: 400px;
}

.card .img {
    width: 45%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 75px;
    right: 52%;
}

.card a {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10px;
}

.card p,
.card h2 {
    width: 40%;
    margin-left: 50%;
}

.intro h1,
.intro p {
    width: 80vw;
    margin-left: 10vw;
}

.serviceCards{
    position: relative;
}

#contactLink {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 600px) {
    section {
        margin-top: 150px !important;
    }

    .into h1 {
        margin-left: 1em !important;
    }

    .intro p {
        font-size: 11px;
    }

    .serviceCards .card .img {
        height: 180px !important;
        top: 53px;
    }

    .serviceCards .card h2 {
        font-size: 15px;
        margin-left: 10px;
        width: fit-content;
    }

    .serviceCards .card .grey {
        font-size: 11px;
    }

    .serviceCards .card {
        padding: 5px 5px 10px 5px !important;
        width: calc(90vw) !important;
        margin: 1.5em auto;
        height: 250px !important;
    }

    .serviceCards .card a {
        font-size: 12px;
        padding: 8px 15px 8px 15px;
    }

}